.table_theme-dark {
  align-content: space-between;
  display: grid;
  font-size: 24px;
  grid-gap: 25px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0;
  position: relative;
  z-index: 1;
}
